html {
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#B2A4FF, #FDF7C3);
    font-family: 'Nunito', sans-serif;
}

.login-box {
    display: grid;
    grid-template-rows: 25vh 75vh;
    grid-template-columns: auto;
    justify-content: center;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;*/
}

#login-form {
    grid-row: 2;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #451952;
}

#login-form > input {
    width: 75%;
    padding: 15px;
    margin: 10px;
}

#login-button {
    width: 84%;
    padding: 10px 15px;
    border-style: none;
    border-radius: 5px;
    background-color: #d6d0fb;
    color: #451952;
    margin: 10px;
}

#login-button:hover {
    background-color: #c0bdd9;
    cursor: pointer;
}

#signup-link {
    text-decoration: none;
    margin-top: 15px;
    font-size: small;
}

#error-message {
    background-color: #fa2424;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#success-container {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#success-message {
    background-color: #42c155;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#success-container > span > i {
    margin: 0 10px;
}