html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #d8e9e2;
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.75);
    height: 8vh;
    width: 100vw;
}

#logo {
    height: 75%;
    width: auto;
    padding: 15px;
    align-self: center;
}

#nav-links-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    column-gap: 50px;
}

.nav-links {
    padding: 5px;
    text-decoration: none;
    color: #81606a;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-links:hover {
    border-bottom: 2px solid #81606a;
}

#signout:hover {
    background-color: #d9a4b3;
    cursor: pointer;
}

#signout {
    text-decoration: none;
    appearance: button;
    padding: 15px;
    border-radius: 10px;
    background-color: #C38D9E;
    color: white;
    align-self: center;
    margin-right: 10px;
}

/* Chat box */
.chat-grid {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 75%;
    background-color: #E8A87C;
    padding: 20px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#server-header {
    margin: 0;
}

#connect-layout {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

#connect-layout > span > i {
    margin: 0 10px;
}

#loader {
    border: 4px solid rgb(255, 255, 255);
    border-top: 4px solid #81606a;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.chat-history {
    height: 70%;
    width: 75%;
    background-color: #f9c8a8;
    color: #451952;
    padding: 20px 25px;
    overflow: auto;
    scrollbar-width: thin;
}

.chat-input {
    width: 75%;
    background-color: #E8A87C;
    padding: 15px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#input-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#input-message {
    flex: auto;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    background-color: #fff0e7;
    color: #451952;
}

#input-message::placeholder {
    font-family: 'Nunito', sans-serif;
    color: #451952;
}

#input-message:focus {
    outline: none;
}

#send-message {
    padding: 10px 15px;
    border-style: none;
    border-radius: 5px;
    background-color: #C38D9E;
    color: white;
}

#send-message:hover {
    background-color: #d9a4b3;
    cursor: pointer;
}

.connect-message {
    display: flex;
    align-items: center;
    color: #81606a;
}

.connect-message::before, .connect-message::after {
    content: '';
    height: 1px;
    background-color: #81606a;
    flex-grow: 1;
}

.connect-message::before {
    margin-right: 10px;
}

.connect-message::after {
    margin-left: 10px;
}

/* Chat bubbles */
.chat-message-grid {
    display: grid;
    grid-template-columns: 40px 80%;
    grid-template-rows: auto;
    margin: 20px 0;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
}

.chat-and-username {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.username {
    color: #81606a;
}

.chat-bubble {
    padding: 10px;
    background-color: #E27D60;
    color: white;
    height: auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 20px;
}